.ListItemInfo {
  height: 217px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ListItemFlags {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.ListItemFlag {
  border-radius: 10px;
  padding: 5px;
}

.ListItem-pending {
  background-color: red;
}

.ListItem-onCourse {
  background-color: yellow;
}

.ListItem-watched {
  background-color: pink;
}

.ListItem-movie {
  background-color: greenyellow;
}

.ListItem-serie {
  background-color: blue;
}

.ListItemImage {
  width: 100px;
  height: 200px;
  object-fit: cover;
}

.ListItemDescription {
  width: 200px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

@media (max-width: 768px) {
  .hide-on-md {
    display: none;
  }
}