.ListItemInfo {
  height: 217px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ListItemFlags {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.ListItemFlag {
  border-radius: 10px;
  padding: 5px;
  color: black;
}

.ListItem-pending {
  background-color: rgba(133, 133, 133, 0.438);
}

.ListItem-onCourse {
  background-color: rgba(0, 26, 255, 0.439);
}

.ListItem-watched {
  background-color: rgba(209, 255, 192, 0.526);
}

.ListItem-movie {
  background-color: rgba(255, 47, 47, 0.447);
}

.ListItem-serie {
  background-color: rgba(255, 251, 0, 0.38);
}

.ListItemImageBox {
  width: 100px;
  height: 200px;
}

.ListItemImage {
  width: 100px;
  height: 200px;
  object-fit: cover;
}

.ListItemDescription {
  display: -webkit-box;
  max-width: 417px;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

@media (max-width: 768px) {
  .hide-on-md {
    display: none;
  }
}