@import '../../App.css';

.Card {
  border: none;
  transition-duration: 300ms;
  background-color: var(--color-bg);
  color: white;
}

.CardImage:hover {
  transform: scale(1.02);
  transition-duration: 100ms;
  overflow: hidden;
}

.CardImage {
  border-radius: 0;
  width: auto;
  height: 19em;
  object-fit: cover;
  overflow: hidden;
}

.CardImageLoader {
  width: auto;
  height: 19em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardTitle {
  height: 3em;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.CardButton {
  width: 100%;
  display: block;
}
