.swiperContainer {
  margin: 2em 0 2em 0;
  width: 100%;
  overflow: hidden;
}

.swiper-horizontal {
  overflow: visible !important;
}

.swiper:hover {
  overflow: visible;
}

.CarrouselTopic {
  letter-spacing: 2px;
  margin: 0 0 1em 2em;
  font-size: 4vw;
}
