.Navbar {
  background-color: #492398 !important;
}

.NavFont {
  color: white;
}

.offcanvas-body {
  background-color: #492398;
}

.offcanvas-header {
  color: white;
  background-color: #210c4e;
}
