.Navbar {
  background-color: var(--color-base) !important;
}

.Logo {
  width: 12vh;
}

.NavFont {
  color: white;
}

.NavFont:hover {
  color: white;
  opacity: 0.8;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--color-bg);
  font-weight: bolder;
}

.offcanvas-body {
  background-color: var(--color-base);
}

.offcanvas-header {
  background-color: var(--color-base);
}
