:root {
  --color-bg: #2f2d2d;
  --color-base: #8F4444;
  --color-acent: #446E8F;
}

body {
  background-color: var(--color-bg);
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.AppLoader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8em 0 8em 0;
}

.Loader {
  width: 325px;
  height: 325px;
}

.form-control {
  border-radius: 0px;
}

.btn {
  border-radius: 0px;
}

.btn-success {
  background-color: var(--color-acent);
  color: white;
  border: 2px solid var(--color-acent);
  transition: 300ms ease;
}

.btn-success:hover {
  background-color: var(--color-base);
  color: white;
  border: 2px solid var(--color-base);
  transition: 300ms ease;
}

.Title {
  letter-spacing: 8px;
  text-align: center;
  font-size: 8vw;
}