@font-face {
  font-family: 'Saira';
  src: url('./Assets/fonts/Saira_Condensed-Medium.ttf');
}

body {
  margin: 0;
  font-family: 'Saira', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
